---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file
/**************/
/* BASE RULES */
/**************/
* {

}
html {
  font-size: 100%;
}

body {
	font-family: var(--inter);
	font-size: 18px;
  line-height: 1.7;
	background: var(--white);
  color: var(--darkGrayple);
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--darkGrayple);
  font-family: var(--oswald);

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--lightGrayple);
}

p {
  margin: 15px 0;
}

a {
  color: var(--primary);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: var(--primary);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: var(--lightGrayple);
}

// Specify the color of the selection
::-moz-selection {
  color: var(--white);
  background: var(--accent);
}
::selection {
  color: var(--white);
  background: var(--accent);
}

.has-accent-background ::-moz-selection, .has-accent-background ::selection {
  background-color: var(--primary);
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.privacy-banner {
  position: fixed;
  right: 15px;
  bottom: 15px;
  max-width: 600px;
  padding: 5px 15px;
  z-index: 9999;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 15px;
}

.privacy-banner > div {
  position: relative;
}

.privacy-banner h2 {
  color: inherit;
  margin-top: 0;
}

.privacy-banner a {
  color: inherit;
  text-decoration: underline;
}

.privacy-banner-close {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 1.7em;
  color: white;
  background-color: transparent;
}

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

header {
  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: var(--darkGrayple);
  cursor: pointer;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  color: var(--lightGrayple);
  margin: -5px 0 0 0;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: var(--grayple);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--primary);
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid var(--lightGrayple);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid var(--lightGrayple);
    padding: 0.1em 1em;
    color: var(--lightGrayple);
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .read-more {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    background-color: var(--accent);
    text-transform: uppercase;
    font-size: 15px;
  }
}

.post-head {
  position: relative;
}

.overlay {
  position: absolute;
  left:  0;
  bottom: 0;
  margin: 15px;
  padding: 0 15px;
  line-height: 1;
  background-color: var(--accent);
  border-radius: 10px;
}

.post-title {
  margin: 0;
  color: var(--white);
}

.post-date {
  color: var(--white);
}

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.back-to-top {
	color: #000000;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
// @import "highlights";
@import "svg-icons";
