---
---

//
// IMPORTS
//

@import "variables";
// Syntax highlighting @import is at the bottom of this file
/**************/
/* BASE RULES */
/**************/
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
	font-family: var(--inter);
	font-size: 18px;
  line-height: 1.7;
	background: white;
  color: var(--gray2);
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--gray1);
  font-family: var(--oswald);
  margin: 1em 0 15px;
  padding: 0;
}

h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  a, a:visited {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: var(--gray2);
}

p {
  margin: 15px 0;
}

blockquote {
  margin: 1.8em .8em;
  border-left: 2px solid var(--gray5);
  padding: 0.1em 1em;
  color: var(--gray3);
  font-size: 22px;
  font-style: italic;
}

a {
  color: var(--primary2);
  text-decoration-color: currentColor;
  text-decoration-style: dotted;
  &:hover, &:active {
    color: var(--primary1);
  }
  &:visited {
    color: var(--gray3);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

strong, b {
  color: var(--gray1);
}

img {
  max-width: 100%;
}

// Specify the color of the selection
::-moz-selection {
  color: var(--gray1);
  background: var(--gray5);
}
::selection {
  color: var(--gray1);
  background: var(--gray4);
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

.privacy-banner {
  position: fixed;
  right: 15px;
  bottom: 15px;
  max-width: 600px;
  padding: 5px 15px;
  z-index: 9999;
  color: var(--gray1);
  background-color: var(--gray5);
  box-shadow: 4px 4px 6px #80808033; // gray3 but with 20% alpha
  border-radius: 15px;

  @include mobile {
    right: 0;
    bottom: 0;
    box-shadow: 0 -4px 6px #80808033 
    border-radius: 15px 15px 0;
  }
}

.privacy-banner > div {
  position: relative;
}

.privacy-banner h2 {
  color: inherit;
  margin-top: 0;
}

.privacy-banner a {
  color: inherit;
  text-decoration: underline;
}

.privacy-banner-close {
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  font-size: 1.7em;
  color: inherit;
  background-color: transparent;
}

//
// .masthead
//

.masthead {
  margin-bottom: 50px;

  @include mobile {
    text-align: center;
  }
}

.site-name {
  margin: 0;
  font-weight: normal;
  font-size: 26px;
  color: var(--primary2);
  text-transform: none;

  a {
    text-decoration: none;
  }
}

.site-description {
  color: var(--gray3);
  margin: 5px 0;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

/*nav {
  float: right;
  margin-top: 23px;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: var(--grayple);
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: var(--primary);
    }
  }
}*/

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
}

.posts > .post:last-child {
  padding-bottom: 1em;
}

.post {
  .comments {
    margin-top: 10px;
  }

  .post-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }

  .read-more {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    background-color: var(--primary2);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 30px;

    &:hover, &:active {
      background-color: var(--primary1);
    }
  }
}

.post-head {
  position: relative;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 15px;
  padding: 0 15px;
  line-height: 1;
  color: var(--gray2);
  background-color: var(--gray4);
  border-radius: 10px;
}

.post-title {
  margin-top: 15px;
}

footer {
  margin-top: 50px;
  padding: 20px 0;
  text-align: center;
  background-color: var(--gray5);
}

.back-to-top {
  text-decoration: none;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
// @import "highlights";
@import "svg-icons";
