<a href="#" class="back-to-top">ʕ•ᴥ•ʔ</a>
{% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" aria-label="Contact us"><i class="svg-icon email"></i></a>{% endif %}
{% if site.footer-links.github %}<a href="https://github.com/{{ site.footer-links.github }}" aria-label="Find us on GitHub"><i class="svg-icon github"></i></a>{% endif %}
{% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="svg-icon rss" aria-label="Subscribe via RSS"></i></a>{% endif %}
{% if site.footer-links.youtube %}<a href="https://youtube.com/{{ site.footer-links.youtube }}" aria-label="Subscribe to our YouTube channel"><i class="svg-icon youtube"></i></a>{% endif %}
