
//
// VARIABLES
//
:root {
  // Colors
  --primary1: #160D26;
  --primary2: #422673;
  --primary3: #6F40BF;
  --primary4: #A98CD9;
  --primary5: #E2D9F2;

  --gray1: #1A1A1A;
  --gray2: #4D4D4D;
  --gray3: #808080;
  --gray4: #B2B2B2;
  --gray5: #E5E5E5;

  // Font stacks
  --oswald: "Oswald", sans-serif;
  --inter: "Inter", sans-serif;
  --helvetica: Helvetica, Arial, sans-serif;
  --helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --georgia: Georgia, serif;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
