
//
// VARIABLES
//
:root {
  // Colors
  --primary: #4b00cc;
  --accent: #00ccad;

  // Grays
  --darkGrayple: #0d0024;
  --grayple: #15003a;
  --lightGrayple: #675f74;
  --white: #fff;

  // Font stacks
  --oswald: "Oswald", sans-serif;
  --inter: "Inter", sans-serif;
  --helvetica: Helvetica, Arial, sans-serif;
  --helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --georgia: Georgia, serif;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
