
//
// VARIABLES
//
:root {
  // Colors
  --primary1: #160D26;
  --primary2: #422673;
  --primary3: #6F40BF;
  --primary4: #A98CD9;
  --primary5: #E2D9F2;

  --gray1: #1A1A1A;
  --gray2: #4D4D4D;
  --gray3: #808080;
  --gray4: #B2B2B2;
  --gray5: #E5E5E5;

  --yellow1: hsl(60, 71%, 20%);
  --yellow5: hsl(60, 100%, 80%);

  --orange1: hsl(30, 71%, 20%);
  --orange5: hsl(30, 100%, 80%);

  --blue1: hsl(225, 71%, 20%);
  --blue5: hsl(225, 100%, 80%);

  --red1: hsl(0, 71%, 20%);
  --red5: hsl(0, 100%, 80%);

  // Font stacks
  --oswald: "Oswald", sans-serif;
  --inter: "Inter", sans-serif;
  --helvetica: Helvetica, Arial, sans-serif;
  --helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --georgia: Georgia, serif;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
