---
layout: default
---


<article class="post">
  <img class="post-image" src="{{site.baseurl}}/{{page.image}}" alt="{{page.title}}, post image">
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-details">
    <!-- Categories -->
    {% if page.categories[0] %}
    <div>
      {% include icons/folder.html %}
      {% comment %}{{ page.categories | join: ", " }}{% endcomment %}
      <noscript>Categories:</noscript>
      {% for category in page.categories %}
        <a href="{{ site.baseurl }}/category/{{ category | slugify }}">{{ category }}</a>{% unless forloop.last == true %},&nbsp;{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
    <!-- Difficulty -->
    {% if page.difficulty %}
    <div>
      <noscript>Difficulty:</noscript>
      {% include icons/circle-double.html %}
      {{ page.difficulty }}
    </div>
    {% endif %}
    <!-- Tags -->
    {% if page.tags[0] and include.display_tags != false %}
    <div>
      <noscript>Tags:</noscript>
      {% include icons/tag-multiple.html %}
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}">{{ tag }}</a>{% unless forloop.last == true %},&nbsp;{% endunless %}
      {% endfor %}
    </div>
    {% endif %}
    <!-- Author -->
    {% if page.author %}
    <div>
      <noscript>Author:</noscript>
      {% include icons/account-edit.html %}
      <a href="{{ site.baseurl }}/authors/{{ page.author }}">{{ page.author }}</a>
    </div>
    {% endif %}
    <!-- Date -->
    <div>
      {% include icons/calendar-text.html %}
      {{ page.date | date: "%B %e, %Y" }}
    </div>
  </div>

  <div class="entry">
    {{ content }}
    {% include license.html %}
  </div>

  {% include post-additionnal.html %}

  <div class="post-load-additionnal">
    <button class="btn block js-load-emojicom">😍🙂🙁😭 How was this article?</button>
    <button class="btn block js-load-utterances">💬 View comments</button>
  </div>
  <script>
    document.querySelector(".js-load-emojicom").addEventListener("click", function(e) {
      const emojicomScript = document.createElement("script");
      emojicomScript.src = "https://cdn.emojicom.io/embed/widget.js";

      document.body.appendChild(emojicomScript);
      e.target.textContent = "Loading...";

      emojicomScript.addEventListener("load", function() {
        e.target.style.display = "none";
      })
    })

    document.querySelector(".js-load-utterances").addEventListener("click", function(e) {
      const utterancesScript = document.createElement("script");
      utterancesScript.src = "https://utteranc.es/client.js";
      utterancesScript.setAttribute("repo", "csourcesc/csourcesc.github.io");
      utterancesScript.setAttribute("issue-term", "pathname");
      utterancesScript.setAttribute("label", "_websitecomment");
      utterancesScript.setAttribute("theme", "github-light");
      utterancesScript.setAttribute("crossorigin", "anonymous");

      document.querySelector("#utterances").appendChild(utterancesScript);
      e.target.textContent = "Loading...";

      utterancesScript.addEventListener("load", function() {
        e.target.style.display = "none";
      })
    })
  </script>
</article>